.addbutton{
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
}

mat-table{
    width: 98%;
    margin: 0 auto;
  }

.actions{
    cursor: pointer;
}
@keyframes example{
    from{color: rgb(182, 182, 182); margin-top: 0;}
    to{color: rgb(87, 87, 87); margin-top: 30px;}
}
.messageDIV{
    color: rgb(87, 87, 87);
    animation-name: example;
    animation-duration: 0.7s;
    margin-top: 30px;
    margin-left: 30px;
    .message{
        font-style: italic;
    }
}

.url{
    color: rgb(255, 19, 109);
}